.form1{
    padding: 20px;
}

.form2{
    padding: 20px;
}

.recepiesGrid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    list-style-type:none;
}

.recipeBlock{
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
    box-sizing: border-box;
    cursor: pointer;
    
}

.recipeBlock:hover{
    background-color: rgb(152, 152, 152);
    color: white;
}

.recipeBlock img{
    
    width: 100%;
    height: 100%;
    
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.847);
    border-radius: 30px;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
}
.featBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featImage{
    border-radius: 40px;
    padding: 20px;
}