.RecipesView {
    margin: 40px;
    padding: 20px;  

}
.NavAbsolute-RecipesView{
    position: absolute;

}
.NavSection-RecipesView{
    position: absolute;
    cursor: move;
    scale: 60%;
    margin-left: 50%;
    z-index: 9;
    border: 1px solid rgb(159, 159, 159);
    background-color: rgba(250, 235, 215, 0.868);
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
    
}

.NavButton-RecipesView{
    z-index: 10;
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(159, 159, 159);
    background-color: rgb(252, 198, 3); 
    padding: 8px;
    width: 180px;
    text-transform: uppercase;
    font-size: 150%;
}

.NavLink-RecipesView{

    color: rgb(255, 255, 255); 
    font-weight: bold;
    text-decoration: none;
}


.form1{
    padding: 20px;
}

.form2{
    padding: 20px;
}

.recipesGrid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    list-style-type:none;
}

.recipeBlock{
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
    box-sizing: border-box;
    cursor: pointer;
    
}

.recipeBlock:hover{
    background-color: rgb(152, 152, 152);
    color: white;
}

.recipeBlock img{
    
    width: 100%;
    height: 100%;
    
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.847);
    border-radius: 30px;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
}
.featBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featImage{
    border-radius: 40px;
    padding: 20px;
}

.favoriteTitle {
    padding: 30px;
}

.featLegend {
    font-size: 80%;
    text-align: justify;
    padding: 10px;
    line-height: 150%;
}

h5.imageLeg {
    font-size: 80%;
}

h6.imageLeg {
    font-size: 60%;
}

.featlegend{
    font-size: 60%; 
    padding: 20px;
    line-height: 200%;
    justify-content: right;
    
}

.featBlockform{
    padding: 20px;
}

.featLegendform {
    font-size: 90%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: baseline;
    

}

.mealInput{
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    color: rgb(249, 246, 212); 
    color: rgb(74, 74, 74);
    height: 20px;
    text-transform: capitalize;
}

/*  CHANGES WHEN MOUSE IS OVER FORM CASES */
.mealInput:hover{
    background-color: rgb(250, 248, 237); 
    height: 20px;
    color: rgb(74, 74, 74);
}

button.buttonFeatLegendform{
    border-radius: 10px;
    border: 1px solid rgb(195, 195, 195);
    background-color: rgb(255, 87, 51); 
    color: white; 
    font-weight: bold;
    padding: 8px;
    width: 180px;
    text-transform: uppercase;
    font-size: 150%;
}

/*  CHANGES WHEN MOUSE IS OVER FORM BUTTON */
button.buttonFeatLegendform:hover{
    border: 1px solid rgb(136, 136, 136);
    background-color: rgb(255, 123, 0); 
}

label.buttonFeatLegendform{
    padding: 20px;
}


label.featLegendform{
    display: grid;
    grid-template-columns:  2fr;
}

.visible {
    display: block;
  }

.invisible {
    display: none;
}

