/* .recipesGrid {
    padding: 20px;
    gap: 20px;
    list-style-type:none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */

/* .recipeBlock{
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
    box-sizing: border-box;
    cursor: pointer;
    
} */
/* .card {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
} */

#deleteButtonRecipe {
    margin-left: 40px;
    font-size: small;
}
#title {
    text-align: center;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
}

/* #imageWP {
    size: 20px;
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px; 
    aspect-ratio: 1/1;
    object-fit: cover;
} */

.card {
    /* padding: 0px; */
    margin: 10px 10px 10px 10px;
}

#GoBack {
    text-align: left;
    /* margin-left: 40px; */
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#SeeSL {
    text-align: left;
    /* margin-left: 40px; */
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#bottomButtons {
    display: center;
}

